* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
/* Carousel */
/* Dots */
.alice-carousel__dots {
  margin: -40px 3px 5px !important;
}
/* 
.alice-carousel__dots-item:not(.__custom) {
  background: rgba(255, 255, 255, 0.5) !important;
}

.alice-carousel__dots-item:not(.__custom):hover,
.alice-carousel__dots-item:not(.__custom).__active {
  background: #fff !important;
} */
/* Carousel */
